<div class="form-inputs">
  <%= f.input :title, input_wrapper_html: { class: "col-md-6" } %>
  <div class="col-md-6">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>
  <%= f.input :description, input_wrapper_html: {class: "col-xs-11"} %>
  <%= f.input :slack_domain, input_wrapper_html: { class: "col-md-6" } %>
</cdiv>

<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-primay' %>
</div>
