<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/tasks/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">

    <% if @task.title.present? %>
      <h1>課題「<%= @task.title %>」の編集ページ</h1>
    <% else %>
      <h1>課題の新規編集ページ</h1>
    <% end %>

    <div class="edit-contents">
        <div class="edit-left-area">

          <div class="form-group">
            <div>
              <div class="edit-left-area__title">課題名(最大50文字)</div>
              <div class="edit-left-area__title-count"><span>課題名の文字数：</span><span id="js-task-title-count">0</span></div>
            </div>
            <%= f.input :title, maxlength: true, label: false, :input_html => { class: 'edit-left-area__text-box', id: "js-task-title" } %>
          </div>

          <div class="form-group">
            <div>
              <div class="edit-left-area__course-detail">課題詳細(最大256文字)</div>
              <div class="edit-left-area__course-detail-count"><span>課題詳細の文字数：</span><span id="js-task-detail-count">0</span></div>
            </div>
            <%= f.input :description, label: false do %>
              <%= f.text_area :description, rows: '15', class: "form-control", id: "js-task-detail" %>
            <% end %>
          </div>

        </div><!-- end of course-edit-left-area -->
  
        <div class="edit-right-area">
          <div class="form-group">
            <div>課題開始日</div>
            <%= f.input :start_date, label: false, :input_html => { class: 'edit-right-area__entry-start-area' } %>
            <div>課題終了日</div>
            <%= f.input :end_date, label: false, class: 'edit-right-area__entry-end-area' %>
          </div>

          <div class="form-group">
            <div>slackドメイン</div>
            <%= f.input :slack_domain, label: false, :input_html => { class: 'edit-right-area__slack-area' } %>
          </div>

          <% if task.id.blank? %>
            <div class="form-group">
              <label class="checkbox-inline">
                <%= f.check_box :check_take_over, {}, true %>
                チームを引き継ぐ
              </label>
            </div>
            <div class="form-group">
              <%= f.input :before_task_id, input_wrapper_html: { class: "col-md-6" } do %>
                <%= f.select :before_task_id, @task_select, {}, class: "form-control" %>
              <% end %>
            </div>
          <% end %>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary', id: "js-submit-button" %>
            <%= link_to '戻る', _course_tasks_path, class: "btn btn-default" %>
          </div>
        </div><!-- end of course-edit-right-area -->
    </div><!-- end of x_content -->
  </div>
</div>