<div class="contents__main">
  <div class="contents__wrap">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% with_breadcrumb :detail_task, @course, @task do %>
      <%= breadcrumbs style: :bootstrap %>
    <% end %>
    <h2><%= @task.title %>の詳細</h2><br>
    
    <table class="table table-bordered table-word-break table-striped">
      <tr>
        <th class="col-md-2">課題名</th>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題開始日</th>
        <td><%= l @task.start_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題受付終了日</th>
        <td><%= l @task.end_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題詳細</th>
        <td><%= markdown(@task.description) %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">アクション</th>
        <td>
          <%= link_to '課題一覧に戻る', list__course_tasks_url(params[:course_id]), class: "btn btn-default" %>
          <% if !@included && current_user.Student? %>
            <% if @task.reference_task_id.blank? %>
              <%= link_to 'チームを作成する', new__course_task_team_url(@task.course_id, @task.id), class: "btn btn-primary" %>
            <% else %>
              <%= link_to 'チームを作成する', new__course_task_team_url(@task.course_id, @task.reference_task_id), class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table><br>
    
    <% if @teams.any? %>
      <br /><br />
      <h3><u>この課題のチーム</u></h3><br>
      <%= paginate @teams %>
      <table class="table table-hover table-condensed">
        <thead style="background: #f5f5f5;">
          <th>チーム名</th>
          <th class="col-md-2">メンバー</th>
          <th class="col-md-1">GitHub</th>
          <th class="col-md-1">Heroku</th>
          <th class="col-md-1">CIツール</th>
          <th class="col-md-1">自由記入欄</th>
          <th class="col-md-1">アクション</th>
        </thead>
        
        <tbody>
          <% @teams.each_with_index do |team, i| %>
            <tr>
              <td><%= team.name %></td>
              <td>
                <%= team.users.pluck(:user_full_name).length.to_s %>人
                <%= link_to "(メンバーを見る)", "", data: {toggle: "modal", target: "#modal-team-member_#{i}"} %>
                <div class="modal" id=<%= "modal-team-member_#{i}" %> tabindex="-1" role="dialog" data-backdrop="static">
                  <div class="modal-dialog dialog-center team-member-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title"><%= team.name %>のチームメンバー</h4>
                      </div><!-- /.modal-header -->
                      <div class="modal-body">
                        <table class="table table-bordered table-word-break">
                          <tr>
                            <th class="col-md-3" style="background: #f5f5f5;">チームメンバー</th>
                            <td><%= markdown(team.users.pluck(:user_full_name).join("\n")) %></td>
                          </tr>
                        </table>
                      </div><!-- /.modal-body -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">閉じる</button>
                      </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
              </td>
              <% @task_team = team.task_teams.find_by(task_id: @task.id, team_id: team.id) %>
              <td><%= @task_team.repository_name.present? ? link_to("設定済", "https://github.com/" + @task_team.repository_name.to_s, target: "_blank") : "未設定" %></td>
              <td><%= @task_team.service_url.present? ? link_to("設定済", @task_team.service_url.to_s, target: "_blank") : "未設定" %></td>
              <td><%= @task_team.ci_url.present? ? link_to("設定済", @task_team.ci_url.to_s, target: "_blank") : "未設定" %></td>
              <td>
                <%= @task_team.comment.present? ? link_to("入力あり", "", data: {toggle: "modal", target: "#modal-task-comment_#{i}"}) : "入力なし" %>
                <% if @task_team.comment.present? %>
                  <div class="modal" id=<%= "modal-task-comment_#{i}" %> tabindex="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog dialog-center team-member-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <h4 class="modal-title"><%= @task.title %>の自由記入コメント</h4>
                        </div><!-- /.modal-header -->
                        <div class="modal-body">
                          <table class="table table-bordered table-word-break">
                            <tr>
                              <th class="col-md-3" style="background: #f5f5f5;">コメント</th>
                              <td><%= markdown(@task_team.comment) %></td>
                            </tr>
                          </table>
                        </div><!-- /.modal-body -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">閉じる</button>
                        </div><!-- /.modal-footer -->
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                <% end %>
              </td>
              <td>
                <% if team.users.pluck(:id).select{|id| id == current_user.id}.length > 0 %>
                  <%= link_to _course_task_team_url(@task.course_id, @task.id, team.id) do %>
                    <button type="button" class="btn btn-sm btn-default">チーム詳細</button>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table><br>
      <%= paginate @teams %>
    <% end %>
  </div>
</div>