<div class="contents__main">
  <div class="contents__wrap">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% with_breadcrumb :list_tasks, @course do %>
      <%= breadcrumbs style: :bootstrap %>
    <% end %>
    <h2><%= @course.title %>の課題一覧</h2><br>

    <%= paginate @tasks %>
    <ul class="contents_list">
      <% @tasks.each do |task| %>
        <li>
          <div class="content-area">
            <dl>
              <dt><%= task.title.truncate(20) %></dt>
              <!--<hr>-->
              <dd>
                <div class="detail-title">ステータス</div>
                <div class="detail-material">
                  <% case task.status %>
                  <% when 0 %>
                    参加中
                  <% when 1 %>
                    未参加
                  <% when 2 %>
                    開始待ち
                  <% when 3 %>
                    参加済み
                  <% when 4 %>
                    受付終了
                  <% end %>
                </div>
              </dd>
              <dd>
                <div class="detail-title">チーム数</div>
                <div class="detail-material"><%= task.tt_team_ids.present? ? task.tt_team_ids.length.to_s : 0 %>チーム</div>
              </dd>
              <dd>
                <div class="detail-title">開始</div>
                <div class="detail-material"><%= l task.start_date, format: :medium %></div>
              </dd>
              <dd>
                <div class="detail-title">終了</div>
                <div class="detail-material"><%= l task.end_date, format: :medium %></div>
              </dd>
              <dd>
                <div class="detail-title">課題詳細</div>
                <div class="detail-material"><%= task.description.truncate(20) %></div>
              </dd>
            </dl>
            <%= link_to '＞＞詳細を見る', detail__course_task_url(params[:course_id], task), title: 'この課題の詳細を見る' %>
          </div>
          <div class="icon-area">
            <% case task.status %>
            <% when 1 %>
              <% if current_user.Student? %>
                <%= link_to new__course_task_team_url(params[:course_id], task.reference_task_id.blank? ? task.id : task.reference_task_id),
                  title: "この課題でチームを作成する" do %>
                  <button type="button" class="btn btn-default">チーム作成</button>
                <% end %>
              <% end %>
            <% when 0, 3 %>
              <%= link_to _course_task_team_url(params[:course_id], task.id, task.team_id),
                title: "所属チーム詳細へ" do %>
                <button type="button" class="btn btn-default">所属チーム詳細</button>
              <% end %>
            <% end %>
          </div>
        </li> 
      <% end %>
    </ul>
    <%= paginate @tasks %>
  </div>
</div>