<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    <h2><%= @course.title %>の課題一覧</h2><br>
    <% with_breadcrumb :list_tasks, @course do %>
      <%= breadcrumbs style: :bootstrap %>
    <% end %>

    <%= paginate @tasks %>
    <% @tasks.each do |task| %>
      <table class="table table-bordered table-word-break table-striped">
        <tr class="table-row">
          <th class="col-md-2 table-title">課題名</th>
          <td><%= task.title %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">課題開始日</th>
          <td><%= l task.start_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">課題終了日</th>
          <td><%= l task.end_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">課題詳細</th>
          <td><%=  task.description.truncate(50) %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">アクション</th>
          <td>
            <%= link_to detail_course_url(task.course_id) do %>
              <button type="button" class="btn btn-default">コース詳細に戻る</button>
            <% end %>
            <%= link_to detail__course_task_url(task.course_id, task.id) do %>
              <button type="button" class="btn btn-success">詳細を見る</button>
            <% end %>
          </td>
        </tr>
      </table><br>
    <% end %>
    <%= paginate @tasks %>
  </div>
</div>