<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    
    <% time_medium = t("time.formats.medium") %>
    <table class="table table-bordered table-word-break">
      <tr>
        <th class="success col-md-2">タイトル</th>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <th class="success">開始日</th>
        <td><%= @task.start_date.strftime(time_medium) %></td>
      </tr>
      <tr>
        <th class="success">終了日</th>
        <td><%= @task.end_date.strftime(time_medium) %></td>
      </tr>
      <tr>
        <th class="success">課題詳細</th>
        <td><%= @task.description %></td>
      </tr>
      <tr>
        <th class="success">slackドメイン</th>
        <td><%= @task.slack_domain %></td>
      </tr>
    </table>
    
    <% if current_user.Teacher? %>
      <%= link_to '戻る', _course_tasks_path(@task.course_id), class: "btn btn-default" %>
    <% else %>
      <%= link_to '戻る', list__course_tasks_path(@task.course_id), class: "btn btn-default" %>
      <%= link_to 'チームを作成する', new__task_team_path(@task.id), class: "btn btn-primary" if @teams.pluck(:user_id).blank? %>
      <% if @teams.any? %>
        <br /><br />
        <h5>この課題のチーム</h5>
        <%= paginate @teams %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th>チーム名</th>
              <th>チーム詳細</th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
          <% @teams.each do |team| %>
            <tr>
              <td><%= team.name %></td>
              <td><%= team.description.truncate(50) %></td>
              <td><%= link_to '詳細を見る', team_url(team), class: "btn btn-default" if team.user_id.present? %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @teams %>
      <% end %>
    <% end %>
  </div>
</div>