<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/tasks/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    
    <table class="table table-bordered table-word-break table-striped">
      <tr>
        <th class="col-md-2">課題名</th>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題開始日</th>
        <td><%= l @task.start_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題受付終了日</th>
        <td><%= l @task.end_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">slackドメイン</th>
        <td><%= @task.slack_domain %></td>
      </tr>      
      <tr>
        <th class="col-md-2">課題詳細</th>
        <td><%= @task.description %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">アクション</th>
        <td>
          <%= link_to edit__course_task_path(@task) do %>
            <button type="button" class="btn btn-success">コースを編集する</button>
          <% end %>
  
          <%= link_to _course_task_path(@task.course_id, @task.id), method: :delete, data: { confirm: '元に戻せませんが、よろしいですか？' } do %>
            <button type="button" class="btn btn-danger">削除</button>
          <% end %>
        </td>
      </tr>
    </table>
    
    <% if current_user.Teacher? %>
      <%= link_to '戻る', _course_tasks_path(@task.course_id), class: "btn btn-default" %>
    <% else %>
      <%= link_to '戻る', list__course_tasks_path(@task.course_id), class: "btn btn-default" %>
      <%= link_to 'チームを作成する', new__task_team_path(@task.id), class: "btn btn-primary" if @teams.pluck(:user_id).blank? %>
      <% if @teams.any? %>
        <br /><br />
        <h5>この課題のチーム</h5>
        <%= paginate @teams %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th>チーム名</th>
              <th>チーム詳細</th>
              <th></th>
            </tr>
          </thead>
          
          <tbody>
          <% @teams.each do |team| %>
            <tr>
              <td><%= team.name %></td>
              <td><%= team.description.truncate(50) %></td>
              <td><%= link_to '詳細を見る', team_url(team), class: "btn btn-default" if team.user_id.present? %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @teams %>
      <% end %>
    <% end %>
    <%= link_to '課題一覧に戻る', _course_tasks_path, class: "btn btn-default" %>
  </div>
</div>