<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/tasks/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    
    <table class="table table-bordered table-word-break table-striped">
      <tr>
        <th class="col-md-2">課題名</th>
        <td><%= @task.title %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題開始日</th>
        <td><%= l @task.start_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題受付終了日</th>
        <td><%= l @task.end_date, format: :medium %></td>
      </tr>
      <tr>
        <th class="col-md-2">課題詳細</th>
        <td><%= @task.description %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">アクション</th>
        <td>
          <%= link_to edit__course_task_path(@task.course_id, @task.id) do %>
            <button type="button" class="btn btn-primary">課題を編集する</button>
          <% end %>
          <% if !@has_referenced_task %>
            <%= link_to _course_task_path(@task.course_id, @task.id), method: :delete, data: { confirm: '元に戻せませんが、よろしいですか？' } do %>
              <button type="button" class="btn btn-danger">削除</button>
            <% end %>
          <% end %>
          <% if @task.reference_task_id.present? %>
            <%= link_to reference__course_task_url(@task.course_id, @task.id, reference: "clear"), 
              data: { confirm: 'この課題単体で新たにチームを作ることになりますが、本当によろしいですか？' } do %>
              <button type="button" class="btn btn-warning">チーム構成の参照を解除する</button>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>