<p id="notice"><%= notice %></p>

<% time_medium = t("time.formats.medium") %>
<table class="table table-bordered table-word-break">
  <tr>
    <th class="success col-md-2">タイトル</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th class="success">開始日</th>
    <td><%= @task.start_date.strftime(time_medium) %></td>
  </tr>
  <tr>
    <th class="success">終了日</th>
    <td><%= @task.end_date.strftime(time_medium) %></td>
  </tr>
  <tr>
    <th class="success">課題詳細</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th class="success">slackドメイン</th>
    <td><%= @task.slack_domain %></td>
  </tr>
</table>
<%= link_to '戻る', _course_tasks_path, class: "btn btn-default" %>
