<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Repository name:</strong>
  <%= @team.repository_name %>
</p>

<p>
  <strong>Service url:</strong>
  <%= @team.service_url %>
</p>

<p>
  <strong>Ci url:</strong>
  <%= @team.ci_url %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
