<div class="contents__header">
  <%= render partial: 'layouts/common/course' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">
    <%= simple_form_for course, wrapper: "horizontal_form", html: {class: "form-horizontal"} do |f| %>
      <div class="form-inputs">
        <%= f.input :title, maxlength: true, input_wrapper_html: { class: "col-md-6" } %>
        <div class="col-md-6">
          <%= f.input :student_entry_start %>
          <%= f.input :student_entry_end %>
        </div>
        <%= f.input :description, input_wrapper_html: {class: "col-md-6"} do %>
          <%= f.text_area :description, rows: '5', maxlength: 256, class: "form-control" %>
        <% end %>
        <div class="col-xs-3">
          <%= f.input :university_id do %>
            <%= f.select :university_id, @universities.map { |u| [u.name, u.id] }, {}, class: "form-control" %>
          <% end %>

          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary' %>
            <%= link_to '戻る', courses_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>