<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/courses/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">

    <% if @course.title.present? %>
      <h1>「<%= @course.title %>」コースの編集ページ</h1>
    <% else %>
      <h1>コースの新規編集ページ</h1>
    <% end %>

    <div class="edit-contents">
      <%= simple_form_for course, wrapper: "horizontal_form" do |f| %>
        <div class="edit-left-area">

          <div class="form-group">
            <div>
              <div class="edit-left-area__title">コース名(最大50文字)</div>
              <div class="edit-left-area__title-count"><span>コース名の文字数：</span><span id="js-course-title-count">0</span></div>
            </div>
            <%= f.input :title, maxlength: true, label: false, :input_html => { class: 'edit-left-area__text-box', id: "js-course-title" } %>
          </div>

          <div class="form-group">
            <div>
              <div class="edit-left-area__course-detail">コース詳細(最大256文字)</div>
              <div class="edit-left-area__course-detail-count"><span>コース詳細の文字数：</span><span id="js-course-detail-count">0</span></div>
            </div>
            <%= f.input :description, label: false do %>
              <%= f.text_area :description, rows: '15', class: "form-control", id: "js-course-detail" %>
            <% end %>
          </div>

        </div><!-- end of course-edit-left-area -->
  
        <div class="edit-right-area">
          <div class="form-group">
            <div>履修受付開始日</div>
            <%= f.input :student_entry_start, label: false, :input_html => { class: 'edit-right-area__entry-start-area' } %>
            <div>履修受付終了日</div>
            <%= f.input :student_entry_end, label: false, :input_html => { class: 'edit-right-area__entry-end-area' } %>
          </div>


          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-primary', id: "js-submit-button" %>
            <%= link_to '戻る', courses_path, class: "btn btn-default" %>
          </div>
        </div><!-- end of course-edit-right-area -->
      <% end %>
    </div><!-- end of x_content -->
  </div>
</div>