<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    
    <table class="table table-bordered table-word-break table-striped">
      <tr class="table-row">
        <th class="col-md-2">コース名</th>
        <td><%= @course.title %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">受講開始日</th>
        <td><%= l @course.start_date, format: :medium %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">受講終了日</th>
        <td><%= l @course.end_date, format: :medium %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">コース詳細</th>
        <td><%= @course.description %></td>
      </tr>
      <tr class="table-row">
        <th class="col-md-2 table-title">アクション</th>
        <td>
          <%= link_to '一覧に戻る', list_courses_url ,class: "btn btn-default" %>
          <% if @participant.present? || current_user.Teacher? %>
            <%= link_to '課題一覧を見る', list__course_tasks_url(@course.id), class: "btn btn-success" %>
            <%= link_to '参加を取りやめる', entry_course_url(@course.id, participate: "cancel"), data: {confirm: "参加を取りやめます。よろしいですか？"},
              class: "btn btn-danger" if (@time_current >= @course.start_date) && (@time_current <= @course.end_date) && current_user.Student? %>
          <% elsif (@time_current >= @course.start_date) && (@time_current <= @course.end_date) %>
            <%= link_to 'コースに参加する', entry_course_url(@course.id), data: {confirm: "このコースに参加します。よろしいですか？"}, class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    </table>
    
  </div>
</div>