<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/courses/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    <h4><%= current_user.user_full_name %>さんのコース一覧</h4>
    <%= paginate @courses %>

    <% @courses.each do |course| %>
      <table class="table table-bordered table-word-break table-striped">
        <tr class="table-row">
          <th class="col-md-2 table-title">コース名</th>
          <td><%= link_to course.title.truncate(50), course_path(course) %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">受講開始日</th>
          <td><%= l course.start_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">受講終了日</th>
          <td><%= l course.end_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">Slackワークスペース名</th>
          <td><%= link_to course.user_slack.workspace_name, course.user_slack.url.to_s, target: '_blank' if course.user_slack.present? %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">開講大学</th>
          <td><%= course.university.name %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">他大学受講生への公開</th>
          <td><%= course.publish_other_universities_flg == true ? "公開" : "非公開" %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">コース詳細</th>
          <td><%= course.description.truncate(50) %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">アクション</th>
          <td>
            <%= link_to edit_course_path(course) do %>
              <button type="button" class="btn btn-primary">コースを編集する</button>
            <% end %>
    
            <%= link_to _course_tasks_path(course) do %>
              <button type="button" class="btn btn-primary">課題一覧をみる</button>
            <% end %>
    
            <%= link_to new__course_task_path(course) do %>
              <button type="button" class="btn btn-primary">課題を追加する</button>
            <% end %>
    
            <%= link_to course, method: :delete, data: { confirm: 'コースに紐付く課題も削除されますが、よろしいですか？' } do %>
              <button type="button" class="btn btn-danger">コースを削除する</button>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
    <%= paginate @courses %>
  </div>
</div>
