<p id="notice"><%= notice %></p>

<h4><%= current_user.user_full_name %>さんのコース一覧</h4>

<table class="table table-bordered table-word-break">
  <thead>
    <tr class="success">
      <th class="col-md-3">タイトル</th>
      <th style="width: 114px;">履修受付開始日</th>
      <th style="width: 114px;">履修受付終了日</th>
      <th>コース詳細</th>
      <th class="col-md-1">編集／削除</th>
      <th class="col-md-1">課題</th>
    </tr>
  </thead>

  <tbody>
    <% time_medium = t('time.formats.medium') %>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= course.student_entry_start.strftime(time_medium) %></td>
        <td><%= course.student_entry_end.strftime(time_medium) %></td>
        <td><%= course.description.truncate(80) %></td>
        <td>
          <%= link_to edit_course_path(course) do %>
            <button type="button" class="btn btn-default">編集</button>
          <% end %>
          <%= link_to course, method: :delete, data: { confirm: 'コースに紐付く課題も削除されますが、よろしいですか？' } do %>
            <button type="button" class="btn btn-danger">削除</button>
          <% end %>
        </td>
        <td>
          <%= link_to _course_tasks_path(course) do %>
            <button type="button" class="btn btn-default">一覧</button>
          <% end %>
          <%= link_to new__course_task_path(course) do %>
            <button type="button" class="btn btn-primary">追加</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'コースを作成する', new_course_path, class: "btn btn-primary" %>
