<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/courses/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% with_breadcrumb :courses do %>
      <%= breadcrumbs style: :bootstrap %>
    <% end %>
    <h2><%= current_user.user_full_name %>さんのコース一覧</h2><br>

    <%= paginate @courses %>

    <ul class="contents_list">
      <% @courses.each do |course| %>
        <li>
          <div class="content-area">
            <dl>
              <dt><%= course.title.truncate(20) %></dt>
              <!--<hr>-->
              <dd>
                <div class="detail-title">状態</div>
                <div class="detail-material"><%= course.status_word %></div>
              </dd>
              <dd>
                <div class="detail-title">受講開始</div>
                <div class="detail-material"><%= l course.start_date, format: :medium %></div>
              </dd>
              <dd>
                <div class="detail-title">受講終了</div>
                <div class="detail-material"><%= l course.end_date, format: :medium %></div>
              </dd>
              <dd>
                <div class="detail-title">slack</div>
                <div class="detail-material"><%= course.user_slack.present? ? link_to(course.user_slack.workspace_name, course.user_slack.url.to_s, target: '_blank') : '無' %></div>
              </dd>
              <dd>
                <div class="detail-title">開講大学</div>
                <div class="detail-material"><%= course.university.name %></div>
              </dd>
              <dd>
                <div class="detail-title">他大学受講生へ公開</div>
                <div class="detail-material"><%= course.publish_other_universities_flg == true ? "公開" : "非公開" %></div>
              </dd>
              <dd>
                <div class="detail-title">課題件数</div>
                <div class="detail-material">
                  <% if course.tasks.any? %>
                    受付中 
                    <%= course.tasks.select{|task| task.start_date <= @time_current && task.end_date >= @time_current}.length.to_s %>件　
                    開始待ち 
                    <%= course.tasks.select{|task| task.start_date > @time_current}.length.to_s %>件　
                    受付終了 
                    <%= course.tasks.select{|task| task.end_date < @time_current}.length.to_s %>件
                  <% else %>
                    無
                  <% end %>
                </div>
              </dd>
              <dd>
                <div class="detail-title">コース詳細</div>
                <div class="detail-material"><%= course.description.truncate(20) %></div>
              </dd>
            </dl>
            <%= link_to '＞＞詳細を見る', course_url(course), title: 'このコースの詳細を見る' %>
          </div>
          <div class="icon-area">
            <%= link_to edit_course_path(course), title: "このコースを編集する" do %>
              <button type="button" class="btn btn-default">編集</button>
            <% end %>
    
            <%= link_to _course_tasks_path(course), title: "#{course.title}の課題一覧を見る" do %>
              <button type="button" class="btn btn-default">課題一覧</button>
            <% end %>
    
            <%= link_to new__course_task_path(course), title: "#{course.title}に課題を追加する" do %>
              <button type="button" class="btn btn-default">課題追加</button>
            <% end %>
    
            <%= link_to course, method: :delete, data: { confirm: 'コースに紐付く課題も削除されますが、よろしいですか？' }, title: "このコースを削除する" do %>
              <button type="button" class="btn btn-danger">削除</button>
            <% end %>
          </div>
        </li> 
      <% end %>
    </ul>
    <%= paginate @courses %>
  </div>
</div>
