<div class="contents__main">
  <div class="contents__wrap">
    <p id="notice"><%= notice %></p>
    
    <h4>コースを見る</h4>
    
    <%= paginate @courses %>
    <% @courses.each do |course| %>
      <table class="table table-bordered table-word-break table-striped">
        <tr class="table-row">
          <th class="col-md-2 table-title">タイトル</th>
          <td><%= link_to course.title.truncate(50), detail_course_url(course.id) %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">受講開始日</th>
          <td><%= l course.start_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">受講終了日</th>
          <td><%= l course.end_date, format: :medium %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">コース詳細</th>
          <td><%= course.description.truncate(50) %></td>
        </tr>
        <tr class="table-row">
          <th class="col-md-2 table-title">アクション</th>
          <td>
            <% if course.user_id.present? || current_user.Teacher? %>
              <%= link_to list__course_tasks_url(course.id) do %>
                <button type="button" class="btn btn-success">課題一覧を見る</button>
              <% end %>
              <%= link_to "参加を取りやめる", entry_course_path(course.id, participate: "cancel"), data: {confirm: "参加を取りやめます。よろしいですか？"},
                class: "btn btn-danger" if (course.start_date <= @time_current) && (course.end_date >= @time_current) && current_user.Student? %>
            <% elsif (course.start_date <= @time_current) && (course.end_date >= @time_current) %>
              <%= link_to entry_course_path(course.id), data: {confirm: "このコースに参加します。よろしいですか？"} do %>
                <button type="button" class="btn btn-primary">コースに参加する</button>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
    <%= paginate @courses %>
  </div>
</div>