<p id="notice"><%= notice %></p>

<% time_medium = t("time.formats.medium") %>
<table class="table table-bordered table-word-break">
  <tr>
    <th class="success col-md-2">タイトル</th>
    <td><%= @course.title %></td>
  </tr>
  <tr>
    <th class="success">履修受付開始日</th>
    <td><%= @course.student_entry_start.strftime(time_medium) %></td>
  </tr>
  <tr>
    <th class="success">履修受付終了日</th>
    <td><%= @course.student_entry_end.strftime(time_medium) %></td>
  </tr>
  <tr>
    <th class="success">コース詳細</th>
    <td><%= @course.description %></td>
  </tr>
</table>
<% if current_user.Student? %>
  <% time_current = Time.current %>
  <% if @user.present? %>
    <%= link_to '課題を見る', _course_tasks_url(@course.id), class: 'btn btn-default' %>
  <% elsif @course.student_entry_start > time_current || @course.student_entry_end < time_current %>
  <% else %>
    <%= link_to '参加する', entry_course_url(@course.id), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to '一覧に戻る', list_courses_url, class: "btn btn-default" %>
<% else %>
  <%= link_to '戻る', courses_url, class: "btn btn-default" %>
<% end %>
