<div class="contents__header">
  <%= render partial: 'layouts/activity_watcher/courses/header' %>
</div>

<div class="contents__main">
  <div class="contents__wrap js-contents-wrap">
    <p id="notice"><%= notice %></p>
    <div>
      <h1><%= @task.title %> / <small><%= "#{@course.title}コース" %></small></h1>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>氏名</th>
                <th>Github ID</th>
                <th>Commit</th>
                <th>Pull Request</th>
                <th>Code Review Comments</th>
              </tr>
            </thead>
            <tbody>
              <% @contributors.each do |key, member| %>
                <tr>
                  <% if @user_full_name.has_key?(key.to_s) %>
                    <td><%= @user_full_name[key.to_s] %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>

                  <% if member.present? %>
                    <td><%= member %></td>
                  <% else %>
                    <td>-</td>
                  <% end %>

                  <% if @commits_last_week.has_key?(key) %>
                    <td>
                      <%= @commits_last_week[key] %>
                      (<%= @github_data_pcercents["commit"][key].to_f  %>%)
                    </td>
                  <% else %>
                    <td>-</td>
                  <% end %>

                  <% if @merged_pull_request_last_week.has_key?(key) %>
                    <td>
                      <%= @merged_pull_request_last_week[key] %>
                      (<%= @github_data_pcercents["merged_pull_request"][key].to_f  %>%)
                    </td>
                  <% else %>
                    <td>-</td>
                  <% end %>

                  <% if @pull_request_comments_last_week.has_key?(key) %>
                    <td>
                      <%= @pull_request_comments_last_week[key] %>
                      (<%= @github_data_pcercents["comments_to_pull_request"][key].to_f  %>%)
                    </td>
                  <% else %>
                    <td>-</td>
                  <% end %>

                  <td class="js-scroll-to-individual-summary"><a href="#">個人詳細をみる</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <h2><i class="fa fa-area-chart" aria-hidden="true"></i>  Weekly Team Total Commit</h2>
    <div class="weekly-commit-summary">
      <div class="weekly-commit-summary__chart">
        <!-- 折れ線グラフ -->
        <figure style="height: 300px;" id="js-team-commit-chart"></figure>
      </div>

      <!-- Weekly Team Total Commitの折れ線グラフデータ -->
      <div style="display:none" id="js-this-week-commit-date" data-this-week-dates=<%= @this_week_dates %>></div>
      <div style="display:none" id="js-this-week-commit-number" data-this-week-commit-numbers=<%= @commits_this_week %>></div>
      <!-- Weekly Team Total Commitの折れ線グラフデータ -->
  
      <div class="panel panel-default weekly-commit-summary__total-commit-table">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12月1日〜12月7日</td>
                <td>29</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>1200</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>              
            </tbody>
          </table>                                
        </div>
      </div><!-- end of weekly-commit-summary__total-commit-table -->

      <div class="clearfix"></div>

      <h3>Latest Commit History</h3>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Message</th>
                  <th>Committer</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @latest_commits.each do |key, value| %>
                  <tr>
                    <td class="history-title"><%= link_to value[:message].truncate(60), value[:commit_url], :target => "_blank" %></td>
                    <td class="history-user"><%= value[:committer] %></td>
                    <td><%= l value[:date] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div><!-- end of weekly-commit-summary -->

    <div class="clearfix"></div>
    
    <h2><i class="fa fa-bar-chart" aria-hidden="true"></i>  Weekly Team Total Pull Request</h2>

    <div class="weekly-pull-request-summary">
      <div class="weekly-pull-request-summary__chart">
        <!-- 棒グラフデータ -->
        <figure style="height: 300px;" id="js-pull-request"></figure>
      </div>

      <!-- Weekly Team Total Pull Requestの棒グラフデータ -->
      <div style="display:none" id="js-this-week-pull-request-number" data-this-week-pull-request-numbers=<%= @merged_pull_request_this_week %>></div>
      <!-- Weekly Team Total Pull Requestの棒グラフデータ -->

      <div class="panel panel-default weekly-pull-request-summary__total-pull-request-table">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12月1日〜12月7日</td>
                <td>29</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>1200</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>
              <tr>
                <td>12月8日〜12月14日</td>
                <td>120</td>
              </tr>              
            </tbody>
          </table>                                
        </div>
      </div><!-- end of weekly-commit-summary__total-pull-request-table -->

    </div><!-- end of weekly-pull-request-summary -->

    <h3>Merged Pull Request History</h3>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created By</th>
                <th>Creation Date</th>
              </tr>
            </thead>
            <tbody>
              <% @latest_merged_pull_request_history.each do |pr_number, value| %>
                <tr>
                  <td class="history-title"><%= value[:title].truncate(60) %></td>
                  <td class="history-user"><%= value[:creator] %></td>
                  <td><%= l value[:created_at] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- end of Latest Merged Pull Request History-->

    <div class="clearfix"></div>

    <h3>Open Pull Request History</h3>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created By</th>
                <th>Creation Date</th>
              </tr>
            </thead>
            <tbody>
              <% @latest_open_pull_request_history.each do |pr_number, value| %>
                <tr>
                  <td class="history-title"><%= value[:title].truncate(60) %></td>
                  <td class="history-user"><%= value[:creator] %></td>
                  <td><%= l value[:created_at] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- end of Latest Open Pull Request History-->

    <div class="clearfix"></div>
    <h2><i class="fa fa-user" aria-hidden="true"></i>  Individual Summary</h2>

    <div class="tabs" id="js-individual-summary-area">
      <input id="234567" type="radio" name="tab-item">
      <label class="tab-item off-tab js-member-name" for="234567">新妻健介</label>

      <input id="123456" type="radio" name="tab-item">
      <label class="tab-item off-tab js-member-name" for="123456">鈴木太郎</label>

      <input id="345678" type="radio" name="tab-item">
      <label class="tab-item off-tab js-member-name" for="345678">山田花子</label>

      <div class="js-individual-summary">
        <div class="contents-area">
          <div class="contents-area__progress">
            <p>新妻健介のサマリー(後で削除)</p>
            <p>・Contribution % of Total Commits</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Pull Requests</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 26%;">26%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Code Review Comments</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">43%</div>
              </div>
            </div>
          </div><!-- end of content-area__progress -->

          <div class="contents-area__commit-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Commit History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__commit-history -->

          <div class="contents-area__pull-request-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Pull Request History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__pull-request-history -->
        </div><!-- end of content-area -->
      </div><!-- end of js-individual-summary-->

      <div class="js-individual-summary">
        <div class="contents-area">
          <div class="contents-area__progress">
            <p>鈴木太郎のサマリー(後で削除)</p>
            <p>・Contribution % of Total Commits</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Pull Requests</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 26%;">26%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Code Review Comments</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">43%</div>
              </div>
            </div>
          </div><!-- end of content-area__progress -->

          <div class="contents-area__commit-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Commit History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__commit-history -->

          <div class="contents-area__pull-request-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Pull Request History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__pull-request-history -->
        </div>
      </div><!-- end of js-individual-summary-->
      
      <div class="js-individual-summary">
        <div class="contents-area">
          <div class="contents-area__progress">
            <p>山田花子のサマリー(後で削除)</p>
            <p>・Contribution % of Total Commits</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Pull Requests</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 26%;">26%</div>
              </div>
            </div>
  
            <p>・Contribution % of Total Code Review Comments</p>
            <div class="contents-area__individual-progress-bar">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width: 43%;">43%</div>
              </div>
            </div>
          </div><!-- end of content-area__progress -->

          <div class="contents-area__commit-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Commit History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__commit-history -->

          <div class="contents-area__pull-request-history">
            <div class="x_panel">
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Latest Pull Request History</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>jsのクリック処理作成。タブ切り替え、メンバーサマリーへのスクロール処理</td>
                    </tr>
                    <tr>
                      <td>total pull requestのデザイン一旦完成</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>
                    <tr>
                      <td>コースへの参加取りやめ機能と参加・取りやめ時のアラートを追加</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- end of content-area__pull-request-history -->
        </div>
      </div><!-- end of js-individual-summary-->

    </div><!-- end of tabs -->
  </div><!-- end of contents__wrap -->
</div>
