<%= simple_form_for team, wrapper: "horizontal_form", html: {class: "form-horizontal"} do |f| %>
  <div class="form-inputs">
    <%= f.input :name, maxlength: true, input_wrapper_html: { class: "col-md-6" } %>
    <%= f.input :description, input_wrapper_html: {class: "col-md-6"} do %>
      <%= f.text_area :description, rows: '5', maxlength: 256, class: "form-control" %>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
