<%= form_for @team, url: _task_teams_path do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@team.errors.count, "件") %> のエラーがありました:</h2>
      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% @team.task_teams.first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h5>チーム情報</h5>
  <table class="table table-bordered">
    <tr>
      <td class="col-md-2"><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, rows: '5' %></td>
    </tr>
  </table>
  <h6>メンバー</h6>
  <table class="table table-bordered">
    <tr>
      <td class="col-md-2"><%= f.label 'メンバー' %></td>
      <td><%= f.select :user_ids, @participants, {include_hidden: false}, {multiple: true } %></td>
    </tr>
  </table>
  <h6>課題</h6>
  <%= f.fields_for :task_teams, @team.task_teams do |tt| %>
    <%= tt.hidden_field :id %>
    <table class="table table-bordered">
      <tr>
        <td class="col-md-2"><%= tt.label :repository_name %></td>
        <td><%= tt.text_field :repository_name %></td>
      </tr>
      <tr>
        <td><%= tt.label :service_url %></td>
        <td><%= tt.text_field :service_url %></td>
      </tr>
      <tr>
        <td><%= tt.label :ci_url %></td>
        <td><%= tt.text_field :ci_url %></td>
      </tr>
    </table>
  <% end %>
  <%= f.submit '登録する', class: "btn btn-primary" %>
<% end %>