<div class="contents__main">
  <div class="contents__wrap">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% with_breadcrumb :team, @course, @task, @team do %>
      <%= breadcrumbs style: :bootstrap %>
    <% end %>
    <h2><%= @team.name %>の詳細</h2>
    
    <table class="table table-bordered table-striped">
      <tr>
        <th class="col-md-2">チーム名</th>
        <td><%= @team.name %></td>
      </tr>
      <tr>
        <th>メンバー人数</th>
        <td><%= @team.users.pluck(:id).length.to_s %>人</td>
      </tr>
      <tr>
        <th>チームメンバー</th>
        <td><%= markdown(@team.users.pluck(:user_full_name).join("\n")) %></td>
      </tr>
      <tr>
        <th>チーム詳細</th>
        <td><%= markdown(@team.description) %></td>
      </tr>
      <tr>
        <th>アクション</th>
        <td>
          <%= link_to 'チーム情報を編集する', edit__course_task_team_url(params[:course_id], params[:task_id], @team), class: 'btn btn-success' %>
          <%= link_to _course_task_team_url(params[:course_id], params[:task_id], @team), method: :delete, 
            data: { confirm: "所属メンバーや提出物に関する情報も削除されますが、本当に実行しますか？"} do %>
            <button type="button" class="btn btn-danger">チーム情報を削除する</button>
          <% end %>
        </td>
      </tr>
    </table>
    <br />
    <% if @task_teams.any? %>
    <h3><u>チームの課題</u></h3><br>
    <%= paginate @task_teams %>
    <% @task_teams.each_with_index do |tt| %>
      <table class="table table-bordered table-striped">
        <tr>
          <th class="col-md-2">課題タイトル</th>
          <td><%= tt.task.title %></td>
        </tr>
        <tr>
          <th>Githubリポジトリ名</th>
          <td><%= tt.repository_name %></td>
        </tr>
        <tr>
          <th>Heroku URL</th>
          <td><%= link_to tt.service_url, tt.service_url.to_s %></td>
        </tr>
        <tr>
          <th>CIツール URL</th>
          <td><%= link_to tt.ci_url, tt.ci_url.to_s %></td>
        </tr>
        <tr>
          <th>アクション</th>
          <td>
            <%= link_to '情報を編集する', edit__course_task_team_task_team_url(params[:course_id], params[:task_id], @team.id, tt.id), class: "btn btn-success" %>
            <%= link_to '課題の詳細を見る', detail__course_task_url(params[:course_id], tt.task_id), class: "btn btn-info" %>
          </td>
        </tr>
      </table>
    <% end %>
    <%= paginate @task_teams %>
    <% end %>
  </div>
</div>